{% extends "base.html" %} {% block title %}{{ course.title }} - My App{%
  endblock %} {% block content %}
  <style>
    .progress-field {
      display: inline-block;
      padding: 8px 12px;
      background-color: grey;
      color: white;
      font-size: 18px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s;
    }
    .container-1 {
      margin: 40px;
      border: 1px solid #cccccc;
      padding: 10px;
      margin-bottom: 20px;
      height: auto;
    }
  
    .container-1 h1 {
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .container-1 .course-info {
      margin-bottom: 20px;
      margin-left: 5px;
    }
  
    .container-1 .course-info p {
      margin-bottom: 5px;
    }
  
    .container-1 .rate {
      float: right;
    }
  
    .container-1 .description p {
      word-wrap: break-word;
      word-break: break-all;
      white-space: pre-line;
      max-width: 30%;
    }
  
    .container-1 .submit {
      float: right;
      margin-top: -15px;
      margin-bottom: 15px;
    }
  
    .container-sections {
      margin: 40px;
      padding: 10px;
      margin-bottom: 50px;
      height: auto;
    }
  
    .container-sections .section {
      text-align: center;
    }
  
    .container-sections .progress-field {
      text-align: bottom;
      background-color: None;
      text-decoration-color: aquamarine;
    }
  
    .container-sections .section_info_total {
      margin: 15px;
      border: 1px solid #cccccc;
      padding: 10px;
      margin-bottom: 50px;
      height: 200px;
    }
  
    .container-sections .section_info_total .video {
      float: left;
      width: auto;
    }
  
    .container-sections .section_info_total a {
      padding: auto;
      margin: auto;
      color: blue;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
    }
  
    .section_info_total p {
      margin: 30px;
      padding: 50px;
    }
  
    .container-1 .teacher_edit a {
      float: center;
      color: black;
      border: 1px;
      margin: 10px;
      background-color: whitesmoke;
      padding: 8px 12px;
      margin-top: 15px;
    }
    .section_info_total {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin:40px;
    
    border: 1px solid #cccccc;
  }
  
  
.section_info_total.video{
  float: left;
}
.video{
  float: left;
}
.course-details{
  padding: 20px;
}
  
  </style>
  
  <div class="course-details">
    {% if course == None and (role != 1 or role !=2) %}
    <p>Please subscribe to this course to access the sections.</p>
  
    <form
      action="http://127.0.0.1:5000/poodle/courses/subscribe/{{ current_id }}/"
      method="POST"
    >
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
    {% else %} {% if course.course.is_public == "Premium" and not role %}
    <form
      action="http://127.0.0.1:5000/poodle/courses/unsubscribe/{{ current_id }}/"
      method="POST"
    >
      <button type="submit" class="btn btn-primary">Unsubscribe</button>
    </form>
    {% endif %}
  
    <div class="container-1">
      <h1>{{ course.course.title }}</h1>
      <div class="course-info">
        <p><strong>Teacher:</strong></p>
        <p>{{ course.course.teacher }}</p>
        <div class="course-desc">
          <p><strong>Description:</strong></p>
          <p>{{ course.course.description }}</p>
        </div>
        <div class="rate">
          <p><strong>Current Course Rate: {{ course.course.rating }}</strong></p>
        </div>
        {% if course.course.is_public == "Public" %}
        <p><strong>Course Type:</strong></p>
        <p>Public</p>
        {% else %}
        <p><strong>Course Type:</strong></p>
        <p>Premium</p>
        {% endif %} {%if is_owner == True%}
        <div class="teacher_edit">
          <p>Welcome to your own course {{current_user.username}}</p>
          <p>Use the function buttons below to edit this course</p>
  <p>
    
    <a href="/poodle/teacher/edit/course/{{ current_id }}" class="edit-course-button">Edit Course</a>
  </p>
            <a href="/poodle/teacher/course/{{ current_id }}/section" class="edit-course-button">Create Section</a>
            
            
          </p>
        </div>
  
        {%endif%}
        <form
          id="rate-form"
          action="http://127.0.0.1:5000/poodle/courses/rates/{{ current_id }}"
          method="POST"
        >
          {%if role == 0%}
          <div class="submit">
            <button type="submit" class="btn btn-primary">Submit Rating</button>
            <select name="rate" id="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </form>
      
    
    {%endif%} {% if course.sections == None and (role == 1 or role ==2)%}
    <a
      href="http://127.0.0.1:5000/poodle/courses/unsubscribe/{{ current_id }}"
      class="btn btn-primary"
      >Subscribe</a
    >
    {% else %}
    <div class="container-sections">
    
      <div class="section">
        <h2>Sections</h2>
      
        {%if role == 0%}
        <h3 class="progress-field">{{ progress }}</h3>
      </div>
      {%endif%}   {% for section in course.sections %}
      {%if is_owner == True%}
      
        
      <a href="http://127.0.0.1:5000/poodle/teacher/delete/section/{{section.id}}/{{course.course.id}}" 
         class="btn btn-primary">Delete </a>
        
          
      {% endif %}
      <a class="title_section" href="http://127.0.0.1:5000/poodle/courses/sections/{{ section.id }}/">{{ section.title }}</a>
        <div class="section_info_total">
          
            <div class="video-container">
            <iframe class="video" width="200" height="180" src="{{section.content}}" frameborder="0" allowfullscreen></iframe>
          </div>
          
              
            
                <p>Description:  {{ section.description }} </p>
                
            
          
        </div>
        
        {% endfor %}
      </div>
  
    </div>
    {% endif %}
    {% endif %}
  </div>
  {% endblock %}
  