<!-- current_section.html -->

{% extends "base.html" %} {% block title %}Current Section{% endblock %} {%
block content %}
<style>
  .course-details {
    width: 600;
    text-align: center;
    margin: 70px;

    display: grid;
  }
</style>
<div class="course-details">
  {% if section %}
  <h1>{{ section.title }}</h1>
  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="{{section.content}}"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </div>
  <p>Description: {{ section.description }}</p>

  <!-- Display section-specific content here -->
  {% elif section == "premium" %}
  <p>This section is not accessible.</p>
  <p>Please subscribe to view this course section.</p>
  {% else %}
  <p>This section does not exist.</p>
  {% endif %}
</div>
{% endblock %}
