{% extends "base.html" %} {% block title %} Poodle-Elearn {% endblock %} {%
block content %}
<style>
  .course-container {
    margin-top: 20px;
  }
  /* .current_course {
display: flex;
justify-content: center;
align-items: center;
} */


  .d-flex justify-content-center{
    color: black;
  }

  .course-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
border-spacing: 2px;
}

.course-box {
  border: 1px solid #ccc;
  padding: 10px;
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-bottom: 20px;
   /* Add this line */
}

  .course-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .course-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .course-box p {
    margin: 5px;
    text-size-adjust: 50;
    margin-left: 20px;
  }

  .course-box .additional-details {
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);

    }
    
  }
  .course-image img {
max-width: 600px; /* Adjust the desired maximum width */
height: auto;
}
.current_course {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.search {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
</style>

  
  
  
  
  

  <div class="course-container">
    {% for course in courses %}
    <div class="course-box">
      <h3>
        <a class="current_course" href="http://127.0.0.1:5000/poodle/courses/{{course.id}}/">{{ course.title }}</a>
      </h3>
      <p>Teacher: {{ course.teacher }}</p>
      <p>Description: {{ course.description }}</p>
      <p>Rating: {{ course.rating }}</p>
      {%if course.is_public == "Public"%}
      <p>This course is Public</p>
      <p>Just click subscribe and you will get it.</p>
      {%else%}
      <p>This course is Premium.</p>
      <p>Teacher should approve your subscription.</p>
      {%endif%}
      <div class="course-image">
        <img src="https://prod-discovery.edx-cdn.org/media/course/image/0e575a39-da1e-4e33-bb3b-e96cc6ffc58e-8372a9a276c1.png" alt="{{ course.title }} Image">
      </div>
    </div>
  {% endfor %}
  </div>
  {% endblock %}
</div>
