{% extends "base.html" %} {% block content %}
<style>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .not_create {
    color: red;
  }

  .message {
    color: green;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color: #fff;
  }

  .btn-view {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
  }

  .btn-view:hover {
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
  }
</style>

<h1>Edit Course</h1>
<p>{{ current_user.username }}</p>
<p>Please fill in the details below to edit the course.</p>
<p>Title must be unique.</p>

{% if message %}
<div class="message">
  <p><strong>{{ message }}</strong></p>

  <a href="/poodle/courses/{{ id }}" class="btn btn-view">View Course</a>
</div>
{% endif %} {% if error %}
<div class="not_create">
  <p><strong>{{ error }}</strong></p>
</div>
{% endif %}

<form
  action="http://127.0.0.1:5000/poodle/teacher/edit/course/{{ id }}"
  method="POST"
>
  <div class="form-group">
    <label for="title">Title:</label>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      placeholder="Title"
      value="{{ title or '' }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Description (min 10 characters):</label>
    <textarea
      name="description"
      id="description"
      class="form-control"
      rows="4"
      minlength="10"
      placeholder="Description"
      required
    >
{{ description or '' }}</textarea
    >
  </div>
  <div class="form-group">
    <label for="objectives">Objectives (min 10 characters):</label>
    <textarea
      name="objectives"
      id="objectives"
      class="form-control"
      rows="4"
      minlength="10"
      placeholder="Objectives"
      required
    >
{{ objectives or '' }}</textarea
    >
  </div>
  <div class="form-group">
    <label>Course Type:</label>
    <br />
    <label>
      <input type="radio" name="is_public" value="Public" required {% if
      is_public == 'Public' %}checked{% endif %} /> Public
    </label>
    <label>
      <input type="radio" name="is_public" value="Premium" required {% if
      is_public == 'Premium' %}checked{% endif %} /> Premium
    </label>
  </div>
  <input type="submit" value="Edit" class="btn btn-primary" />
</form>
{% endblock %}
